*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.label {
  background-color: #111;
  border-radius: 50px;
  justify-content: space-between;
  position: relative;
  height: 26px;
  width: 50px;
  float: right;
  padding: 5px;
  align-items: center;
  display: flex;
  transform: scale(1.2);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(22px);
}

.moveBall {
  transform: translateX(22px);
}
.moveBallBack {
  transform: translateX(0px);
}

.fa-moon {
	color: #f1c40f;
	font-size: 15px;
}

.fa-sun {
	color: #f39c12;
	padding-left:10px;
	font-size: 15px;
}

.fa-heart {
  color: #C96198;
}


body {
  width: 100%;
  margin: 0;
  background-color: #fafafa;
  height: 100%;
  transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
}

body.dark nav{
	background: white;
}

body.dark nav p{
	color: black;
}

body.dark nav{
	background: white;
}

body.dark .list {
	color: white;
  border: 1px solid white;
}

body.dark .about_chryzhub{
	color: white;
}

body.dark footer{
  background: white;
}

body.dark .footer-bottom{
  color: black;
}

body.dark .footer-bottom a{
  color: black;
}

body.dark .list:hover{
  background: white;
  color: black;
}

.sponsor_btn > a:hover {
  background-color: #373E47;
}

.sponsor_btn > a:hover {
  font-size: inherit;
}

.row{
  display: block;
}
.logo {
  margin-top: 20px;
  max-width: 100px;
  border-radius: 5px;
}
p{
  text-align: center;
}
.navbar{
  height: 70px;
  width: 100%;
  background: #292C35;
}

.navbar p{
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
}

.about_chryzhub{
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.list{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 500px;
  height: 50px;
  margin-top: 30px;
  border-radius: 8px;
  padding: 9px;
  margin-bottom: 3px;
}

.list:hover{
  background: #292C35;
  color: white;
  border:none;
  transition: font-weight 0.25s linear, background-color 0.25s linear, transform 0.1s
}

a{
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 20px;
}

a:hover{
  text-decoration: none;
  color: black;
  font-size: 20.3px;
}

.socials {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
}

.socials a {
   margin: 0 10px;
  font-size: 25px;
  color: #777;
  transition: opacity 0.4s ease-in-out;
}

.socials a:hover {
  opacity: 50%;
}

footer{
  background: #292C35;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 50px;
}

.footer-bottom{
  padding-top: 10px;
  text-align: center;
  color: white;
}

.footer-bottom a{
  color: white;
}

@media all and (min-width: 100px) and (max-width: 600px){
  .about_chryzhub{
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    width: 70%;
  }

  .list{
    width: 350px;
    height: 50px;
  }

  .list:hover{
    width: 350.5px;
    height: 50.5px;
  }

  .socials a {
    margin: 0 5px;
 }

@media all and (min-width: 250px) and (max-width: 400px){
  .about_chryzhub{
      font-size: 18px;
      font-weight: 450;
      line-height: 30px;
      width: 70%;
  }

  .list{
    width: 300px;
    height: 50px;
  }

  .list:hover{
    width: 300.5px;
    height: 50.5px;
  }

  .socials i{
    padding-left: 10px;
  }
}

@media all and (min-width: 100px) and (max-width: 320px){
  .label{
    display: none;
  }

  nav > p{

    padding-left: 0 !important;
    font-size: 25px !important;
    margin-top: 10px !important;
  }

  .list{
    width: 80%;
  }

  .list > .fab, .fa, .fas{
    display: none;
  }

  .sponsor{
    display: none;
  }

  .words{
    font-size: 18px;
  }

  .about_chryzhub{
    font-size: 16px;
  }
}}